workflow_old.json
[{"updatedAt":"2026-05-22T01:38:04.752Z","createdAt":"2026-05-22T00:49:58.475Z","id":"3ZHD7Cw7v74Fr5Tq","name":"Elevore - Enviar Correo de Servicio Completado","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"sendTo":"={{ $json.body.record.client_email || 'cliente@ejemplo.com' }}","subject":"¡Tu servicio de Elevore ha sido completado! 🌟","message":"=<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <style>\n    body {\n      background-color: #060609;\n      margin: 0;\n      padding: 0;\n      font-family: -apple-system, BlinkMacSystemFont, \"Segoe UI\", Roboto, sans-serif;\n    }\n    .wrapper {\n      width: 100%;\n      background-color: #060609;\n      padding: 40px 0;\n    }\n    .main-table {\n      background-color: #0d0d12;\n      margin: 0 auto;\n      width: 100%;\n      max-width: 600px;\n      border-radius: 24px;\n      border: 1px solid rgba(245, 197, 24, 0.15);\n      overflow: hidden;\n      color: #ffffff;\n    }\n    .header {\n      background-color: #13131a;\n      padding: 40px 30px;\n      text-align: center;\n    }\n    .logo {\n      color: #F5C518;\n      font-size: 28px;\n      font-weight: 900;\n      letter-spacing: 2px;\n      text-transform: uppercase;\n    }\n    .content {\n      padding: 40px 35px;\n    }\n    .badge {\n      display: inline-block;\n      background: rgba(245, 197, 24, 0.1);\n      border: 1px solid rgba(245, 197, 24, 0.3);\n      color: #F5C518;\n      font-size: 11px;\n      font-weight: 800;\n      text-transform: uppercase;\n      padding: 8px 16px;\n      border-radius: 100px;\n      margin-bottom: 25px;\n    }\n    .title {\n      color: #ffffff;\n      font-size: 26px;\n      font-weight: 800;\n      margin-bottom: 15px;\n    }\n    .description {\n      color: #a1a1aa;\n      font-size: 15px;\n      line-height: 1.6;\n      margin-bottom: 35px;\n    }\n    .card {\n      background-color: #13131a;\n      border: 1px solid rgba(255, 255, 255, 0.05);\n      border-radius: 16px;\n      padding: 25px;\n      margin-bottom: 35px;\n    }\n    .card-title {\n      color: #ffffff;\n      font-size: 14px;\n      font-weight: 800; \n      text-transform: uppercase;\n      border-bottom: 1px solid rgba(255, 255, 255, 0.05);\n      padding-bottom: 10px;\n      margin-top: 0;\n    }\n    .data-row {\n      margin-bottom: 12px;\n      font-size: 14px;\n    }\n    .data-label {\n      color: #71717a;\n      display: inline-block;\n      width: 120px;\n      font-weight: 600;\n    }\n    .data-value {\n      color: #e4e4e7;\n    }\n    .data-highlight {\n      color: #F5C518;\n      font-weight: 700;\n    }\n    .btn {\n      display: inline-block;\n      background-color: #F5C518;\n      color: #060609 !important;\n      font-weight: 800;\n      text-decoration: none;\n      padding: 16px 32px;\n      border-radius: 12px;\n    }\n    .footer {\n      background-color: #08080c;\n      padding: 30px;\n      text-align: center;\n      font-size: 12px;\n      color: #52525b;\n    }\n    .footer-link {\n      color: #F5C518;\n      text-decoration: none;\n    }\n  </style>\n</head>\n<body>\n  <center class=\"wrapper\">\n    <div class=\"main-table\">\n      <div class=\"header\">\n        <div class=\"logo\">ELEVORE</div>\n      </div>\n      <div class=\"content\">\n        <center><div class=\"badge\">Servicio Completado</div></center>\n        <h1 class=\"title\">¡Hola {{ $json.body.record.client_name || 'Cliente' }}!</h1>\n        <p class=\"description\">\n          Te informamos que nuestro equipo ha finalizado con éxito el servicio programado para hoy en tu propiedad.\n        </p>\n        <div class=\"card\">\n          <h2 class=\"card-title\">Detalles del Trabajo</h2>\n          <div class=\"data-row\">\n            <span class=\"data-label\">Servicio:</span>\n            <span class=\"data-value\">{{ $json.body.record.title || 'Limpieza General' }}</span>\n          </div>\n          <div class=\"data-row\">\n            <span class=\"data-label\">Fecha:</span>\n            <span class=\"data-value\">{{ $json.body.record.scheduled_date || 'Hoy' }}</span>\n          </div>\n          <div class=\"data-row\">\n            <span class=\"data-label\">Total:</span>\n            <span class=\"data-highlight\">${{ $json.body.record.total_price || '0' }} USD</span>\n          </div>\n        </div>\n        <center><a href=\"https://elevore-saas.vercel.app\" class=\"btn\">Ver Mi Cuenta</a></center>\n      </div>\n      <div class=\"footer\">\n        <p>¿Tienes dudas? Escríbenos a <a href=\"mailto:elevorecorporation@gmail.com\" class=\"footer-link\">elevorecorporation@gmail.com</a></p>\n        <p>&copy; 2026 Elevore. Todos los derechos reservados.</p>\n      </div>\n    </div>\n  </center>\n</body>\n</html>","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2,"position":[-128,-160],"id":"c1645c73-c67a-4a15-9ad2-c4b18f2de311","name":"Gmail (elevorecorporation@gmail.com)","webhookId":"9f5c9c0e-1668-49ab-b8b5-0135676522af","credentials":{"gmailOAuth2":{"id":"IcDRQR863QKize3P","name":"Gmail account"}}},{"parameters":{"httpMethod":"POST","path":"elevore-servicio-completado","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[320,-64],"id":"47134bcd-e23a-40b9-baae-ecb13784cf96","name":"Webhook (Supabase Trigger)1","webhookId":"30720017-bb4a-45c6-b5ae-5c578f1ca573"},{"parameters":{"fromEmail":"elevorecorporation@gmail.com","options":{}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[528,-64],"id":"7b6ea6c4-ba46-4bce-a061-b81b396c2fa6","name":"Send an Email1","webhookId":"f579f645-b296-41c4-a5a8-a5618fc2a891","credentials":{"smtp":{"id":"RD7hCb4Op8i8Phk9","name":"Elevore Gmail SMTP"}}}],"connections":{"Webhook (Supabase Trigger)1":{"main":[[{"node":"Send an Email1","type":"main","index":0}]]},"Send an Email1":{"main":[[{"node":"Gmail (elevorecorporation@gmail.com)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"16db28a8-f5be-450c-aaf0-9318fd43d376","activeVersionId":null,"versionCounter":22,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-05-22T00:49:58.478Z","createdAt":"2026-05-22T00:49:58.478Z","role":"workflow:owner","workflowId":"3ZHD7Cw7v74Fr5Tq","projectId":"xEdTWOSO99a2wLyR","project":{"updatedAt":"2026-05-22T00:48:58.442Z","createdAt":"2026-05-22T00:45:56.651Z","id":"xEdTWOSO99a2wLyR","name":"Elevore Corporation <elevorecorporation@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"ce10c0ce-6a11-437a-b389-1090d8957234"}}],"versionMetadata":{"name":null,"description":null}}]